html {
    font-size: 6.25%;
}

/* 1rem = 1px */

@media (max-width: 540px) {
    html {
        font-size: 0.25641025641vw;
        /* 390 size에 맞춤 (16/390*6.25/100) */

    }
}

body {
    font-size: 16rem;
    word-break: keep-all;
}

/* line-height : 3rem + 3rem */
p {
    line-height: 1.375;
}

.inner {
    max-width: 1200rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.section {
    position: relative;
    padding: 100rem 0;

    .title {
        max-width: 1200rem;
        margin: 0 auto 30rem auto;
        padding: 0 15rem;
    }

    & h2 {
        font-size: 30rem;
        font-weight: 700;
        margin: 0 0 10rem 0;
    }
}

@media (max-width: 540px) {
    .section {
        padding: 50rem 0;
    }
}